<?xml version="1.0"?>

<launch>
	<include file="/home/mahrous/adrt_ws/src/adrt/adrt_gazebo/launch/adrt_gazebo.launch"/>
	<include file="/home/mahrous/catkin_ws/src/gps_navigation/launch/start_map_server.launch"/>
	<include file="/home/mahrous/catkin_ws/src/my_localizer_launcher/launch/my_localizer.launch"/>
	<include file="/home/mahrous/catkin_ws/src/my_move_base/launch/my_move_base.launch"/>
	<include file="/home/mahrous/adrt_ws/src/adrt/adrt_description/launch/rviz.launch"/>
</launch>
