<?xml version="1.0"?>

<launch>

    <param name="robot_description" command="$(find xacro)/xacro.py $(find adrt_description)/urdf/adrt.xacro" />
    
    <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher" >
        <param name="use_gui" value="false" />
    </node>
    
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" >
    </node>

    <param name="robot_description" command="$(find xacro)/xacro.py $(find adrt_description)/urdf/adrt.xacro" />


    <node name="rviz" pkg="rviz" type="rviz" >
    </node>

</launch>
